<div class="app-shell">

  <nav class="app-navbar">
    <div class="container d-flex align-items-center justify-content-between">
      <span class="app-brand">
        <img src="/logo.png" alt="Logo" class="app-logo" />
        <span>Blog App</span>
      </span>
      <div class="d-flex gap-2">
        <button *ngIf="estaLogueado" class="btn-logout" (click)="cerrarSesion()">
          <i class="bi bi-box-arrow-right me-1"></i> Salir
        </button>
      </div>
    </div>
  </nav>

  <div *ngIf="!estaLogueado" class="auth-page">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="estaLogueado" class="content-page">
    <div class="container py-4">
      <app-publicaciones></app-publicaciones>
      <hr class="my-4">
      <app-comentarios></app-comentarios>
    </div>
  </div>

</div>